In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

import math

In [2]:
df = pd.read_csv('../datasets/Admission_Predict.csv')

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [5]:
cols = [0,8]
X = df.drop(df.columns[cols],axis=1)
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

columns_ = ['GRE Score','TOEFL Score', 'University Rating','SOP','LOR','CGPA','Research']

X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=columns_)
X.head()

   GRE Score  TOEFL Score  University Rating    SOP    LOR      CGPA  Research
0       0.94     0.928571               0.75  0.875  0.875  0.913462       1.0
1       0.68     0.535714               0.75  0.750  0.875  0.663462       1.0
2       0.52     0.428571               0.50  0.500  0.625  0.384615       1.0
3       0.64     0.642857               0.50  0.625  0.375  0.599359       1.0
4       0.48     0.392857               0.25  0.250  0.500  0.451923       0.0

In [9]:
import joblib
scaler_filename = "scaler.save"
joblib.dump(scaler, scaler_filename)

['scaler.save']

In [10]:
Y = df.iloc[:, [8]]
Y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [12]:
X_train.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
3,0.64,0.642857,0.5,0.625,0.375,0.599359,1.0
18,0.56,0.642857,0.5,0.750,0.500,0.641026,0.0
202,1.00,1.000000,1.0,0.875,0.875,0.996795,1.0
250,0.60,0.428571,0.5,0.500,0.375,0.567308,1.0
274,0.50,0.285714,0.0,0.250,0.375,0.368590,0.0

In [13]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, Y_train)

LinearRegression()

In [14]:
Y_pred = model.predict(X_test)

In [15]:
Y_pred = np.squeeze(Y_pred)

Y_test = np.squeeze(Y_test)

df_ = pd.DataFrame({'Actual': Y_test, 'Predicted': Y_pred})

In [16]:
df_.head()

     Actual  Predicted
209    0.68   0.651174
280    0.68   0.723687
33     0.90   0.935368
210    0.79   0.821643
93     0.44   0.581587

In [18]:
from sklearn import metrics

print("Mean Absolute Error:", metrics.mean_absolute_error(Y_test, Y_pred))
print("Mean Squared Error:", metrics.mean_squared_error(Y_test, Y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(Y_test, Y_pred)))

Mean Absolute Error: 0.04795673362091198
Mean Squared Error: 0.004617003377285012
Root Mean Squared Error: 0.06794853476922819

In [19]:
import pickle

with open('../../models/model.pkl','wb') as f:
    pickle.dump(model,f)